.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  padding-bottom: 20vh;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.title > img {
  margin-right: 16px;
}

.usersList {
  background-image: linear-gradient(90deg,#ffbe0b 0,#ff0075 31.19%,#0076ff 68.63%,#3bdcff);
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 40px;
}

.usersList > section {
  background: black;
  border-radius: 6px;
  padding: 40px;
}

.userRow {
  background: #282828;
  padding: 12px;
  margin: 12px 0;
  min-width: 320px;
  border-radius: 4px;
  cursor: pointer;
}

.addUser {
  width: 100%;
  text-align: center;
}

.addUser > input {
  all: unset;
  margin: 0 12px;
  padding: 4px;
  background: #282828;
  border: 1px solid white;
  border-radius: 4px;
}

.addUser > button {
  all: unset;
  background-image: linear-gradient(90deg,#ffbe0b 0,#ff0075 31.19%,#0076ff 68.63%,#3bdcff);
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.addUser > button > div {
  background: black;
  padding: 6px 12px;
  color: white;
}

.addUser > button > div:hover {
  background: transparent;
}
